[Unit]
# Description of the service
Description=ASP.NET Core Web Application

# When this service should be started up
After=network-online.target firewalld.service

# Is dependent on this target
Wants=network-online.target

[Service]
# Configures the process start-up type for this service unit. One of simple, forking, oneshot, dbus, notify or idle.
# Simple means that its a simple executable
# Forking means that executable will fork another process then exist straight away. Common for linux daemons
# Notify is the same simple but the executable is aware of systemd and will send notifcations to systemd alerting to the current state I.e Finished starting up
Type=simple

# How to start the application
ExecStart=/opt/dotnet-core-systemd/WebApplication

# How to stop the application
ExecReload=/bin/kill -s HUP $MAINPID

# Sets the working directory
WorkingDirectory=/opt/dotnet-core-systemd

# Sets enviroment variable
Environment=ASPNETCORE_ENVIRONMENT=Production

# All logs emited by this application with identifier by webapplication in the syslogs
SyslogIdentifier=webapplication

# The time given to wait for startup. If it is takes longer than this then it is shutdown and retries
TimeoutStartSec=60

# Always restart the proccess either if the process cleanly exists, abnormally exits or hits a timeout
# Can only start 3 times within 60 seconds

Restart=always
StartLimitBurst=3
StartLimitInterval=60s

# Control cpu and memory usage using cgroups. Uses the same technology 
# as containers. Can also control things like IO usage if you want and others

# CPUQuota=20%
# MemoryLimit=1G

[Install]
WantedBy=multi-user.target
